.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.copy{
  display: flex;
  justify-content:space-between ;
}
#custom-tooltip {
  display: none;
  margin-left: 53%;
  margin-bottom: 3vh;
  z-index: 100;
  padding: 2px 2px;
  background-color: #6cb1b6df;
  border-radius: 4px;
  position: absolute;
  color: #000000;
}

.copybutton{
  cursor: pointer;
  border: 1px solid #a59898;
  background-color: #a8a8a8;
  border-radius: 240px;
  width:6%;
  position: relative;
  align-self: center;
  font-size: 2vh;
  font-weight: 600;
  padding: 1vh;

  
  
  /* margin-left: 5vh; */
}